In [60]:
import pandas as pd
import glob
import os

In [85]:
path = '../data/data13to17Feb2018.csv'
df = pd.read_csv(path, usecols=['Time', 'Source', 'Destination', 'Protocol', 'Length']).dropna()

In [86]:
df.head()

                         Time          Source     Destination Protocol  Length
0  2019-02-13 02:13:38.346809       10.1.10.1  104.36.224.141      SSL     152
1  2019-02-13 02:13:38.347297  104.36.224.141       10.1.10.1      TCP      40
2  2019-02-13 02:13:38.678841  104.36.224.141       10.1.10.1      SSL      88
3  2019-02-13 02:13:38.679018       10.1.10.1  104.36.224.141      TCP      40
4  2019-02-13 02:16:38.390502       10.1.10.1  104.36.224.141      TCP     152

In [91]:
df.tail()

,Time,Source,Destination,Protocol,Length
1866799,1970-01-05 03:18:44.000040,a01:a01:959a:a75c:cee0:1bb:e414:cb7f,5ea0:239f:5010:277:59f5:0:c7d9:685c,RSVP-E2EI,671088709
1866801,1970-01-05 04:57:05.000040,a01:a01:959a:a75c:cee0:1bb:e414:cb7f,5ea0:25ab:5010:280:57e0:0:c7d9:685c,RSVP-E2EI,671088709
1866802,1970-01-05 12:13:15.000410,a01:a01:959a:a75c:cee0:1bb:e414:cb7f,5ea0:25ab:5018:280:636b:0:c42b:600,SCTP,2583756869
1866804,1970-01-04 19:02:43.000177,a01:a01:959a:a75c:cee0:1bb:e414:ccf1,5ea0:25ab:5018:280:c207:0:22e0:d292,IPv6,2969567301
1866805,1970-01-07 12:09:56.000177,a01:a01:959a:a75c:cee0:1bb:e414:ccf1,5ea0:25ab:5018:280:c207:0:22e0:d292,IPv6,2969567301

In [96]:
df.count()

Time           1866781
Source         1866781
Destination    1866781
Protocol       1866781
Length         1866781
dtype: int64

In [88]:
df.nunique()

Time           1866781
Source            1435
Destination       1455
Protocol            26
Length            6895
dtype: int64

In [95]:
df['Destination'].describe()

count       1866781
unique         1455
top       10.1.10.1
freq        1221779
Name: Destination, dtype: object